body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
  }
  
  ol, ul {
    padding-left: 30px;
  }
  
  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }
  
  .status {
    margin-bottom: 10px;
  }
  
  .actionRecordButton {
    background: #7A9FBF;
    color: #FFF;
    border: 0px solid #FFF;
    float: left;
    font-size: 24px;
    font-weight: normal;
    width: 100px;
    height: 100px;    
    margin: 5px 5px;
    text-align: center;
    border-radius: 5px;
  }
  
  .actionRecordButton:focus {
    outline: none;
  }
  
  .kbd-navigation .actionRecordButton:focus {
    background: #ddd;
  }
  
  .game {
    display: flex;
    flex-direction: row;
  }
  
  .game-info {
    margin-left: 20px;
  }
  